NEXT_PUBLIC_ENV=production
NEXT_PUBLIC_ANALYTICS_ID=
WEB_PORT=3000

# Local development database connection (outside docker)
DB_URL=mongodb://DB_USERNAME:DB_PASSWORD@localhost:27017

# Database credentials & settings
DB_NAME=b5
DB_USERNAME=
DB_PASSWORD=
DB_COLLECTION=results
DB_PORT=27017

# Optional override for web service inside docker compose (defaults to mongodb service hostname)
# DB_URL_DOCKER=mongodb://DB_USERNAME:DB_PASSWORD@mongodb:27017/b5?authSource=admin